body
{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#h1fifa
{
    font-family: 'Archivo Black', sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
}

#h2qatar
{
    font-family: 'Aref Ruqaa', serif;
    color: white;
    text-align: center;
}

#imgqatar
{
    display: flex;
    margin: auto;
}

#botonempezar
{
    margin-top: 100px;
}

#h1fixture
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-top: 100px;
}

#hr1
{
    margin-top: 200px;
}

#h1grupos
{
    margin-top: 10px;
    text-align: center;
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-bottom: 100px;
}

.acordiones
{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 25px;
}

.dosacordiones
{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 50px;
}

#Gqatar,
#Gecuador,
#Gsenegal,
#Gholanda,
#Ginglaterra,
#Giran,
#Gusa,
#Gargentina,
#Garabia,
#Gmexico,
#Gpolonia,
#Gfrancia,
#Gdinamarca,
#Gtunez,
#Gespaña,
#Galemania,
#Gjapon,
#Gbelgica,
#Gcanada,
#Gmarruecos,
#Gcroacia,
#Gbrasil,
#Gserbia,
#Gsuiza,
#Gcamerun,
#Gportugal,
#Gghana,
#Guruguay,
#Gkorea
{
    margin-top: -30px;
}


#h1octavos
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-top: 90px;
    margin-bottom: 100px;
}

#acordionOctavos
{
    margin-left: 50px;
    margin-right: 50px;
}

#acordionOctavos2
{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

#hr2
{
    margin-top: 90px;
}

#h1cuartos
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-top: 90px;
    margin-bottom: 100px;
}

#hr3
{
    margin-top: 90px;
}

#acordionCuartos
{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

#h1semis
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-top: 90px;
    margin-bottom: 100px;
}

#h1final
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-top: 90px;
    margin-bottom: 100px;
}

#acordionFinales
{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

#h1Tercero
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-top: 90px;
    margin-bottom: 100px;
}

#acordionTercero
{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;   
}

#tituloCiudades
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
}

#tituloEstTotEquipos
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
}

#tituloEstadios
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
}

#divPartidos
{
    background: url(Background-images/FondoBlanco.jpg);

}

#tituloPartidos
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

#tituloJug
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}