#jugSaadAlSheeb1,
#jugAlmoezAli2,
#jugHernánGalíndez3,
#jugEnnerValencia4,
#jugEdouardMendy5,
#jugSadioMané6,
#jugFrenkiedeJong7,
#jugMemphisDepay8,
#jugEmilianoMartinez9,
#jugLionelMessi10
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(206, 206, 0);
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 50px;
}

#imgSaadAlSheeb1,
#imgAlmoezAli2,
#imgHernánGalíndez3,
#imgEnnerValencia4,
#imgEdouardMendy5,
#imgSadioMané6,
#imgFrenkiedeJong7,
#imgMemphisDepay8,
#imgEmilianoMartinez9,
#imgLionelMessi10
{
    background-color: #941127;
    margin-left: 10px;
    width: 300px;
    height: 350px;
}

#city
{
    font-family: 'Aref Ruqaa', serif;
    color: rgb(196, 196, 196);
    margin-left: 10px;
    margin-top: 20px;
}

